{% extends 'site/widjets/base_table_widjet.html' %}

{% block widjet_column_size %}
    <div class="col-lg-6">{% endblock %}
{% block widjet_name %}widjet-plugins{% endblock %}
{% block widjet_header_inner %}
    <i class="fa fa-plug"></i> Плагины
{% endblock %}


{% block widjet_thead_inner %}
    <tr class="table-title">
        <td>Имя плагина</td>
        <td>Описание</td>
    </tr>
{% endblock %}
{% block widjet_tbody_inner %}
    {% for item in plugins %}
        <tr>
            <td>{{ item.plugin_name }}</td>
            <td class="widjet-item-value">{{ item.description }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block widjet_footer_inner %}{% endblock %}