{% extends "site/modules/monitoring_nodes/monitoring_nodes_base.html" %}
{% block title %}Узлы{% endblock %}
{% block breadcrump_inactive %}
    {{ block.super }}
{% endblock %}

{% block breadcrump_active %}
    <li class="active">Узлы</li>
{% endblock %}

{% block inner_content %}
    <h3>Узлы</h3>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-group" id="accordion">
                {% for node in nodes %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse"
                                   data-parent="#accordion"
                                   href="#collapse_{{ forloop.counter }}">
                                    {{ node.name }}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_{{ forloop.counter }}"
                             class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="node_description">
                                    <b>Описание узла:</b><br>
                                    IP-адрес: {{ node.ip }}<br>
                                    Операционная система: {{ node.os }}
                                </div>
                                <a class="btn btn-warning"
                                   href="{{ node.name }}/graphs/">
                                    <i class="fa fa-area-chart"> Графики</i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
