/* Profile container */
.profile {
    margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
}

/*.profile-userpic img {*/
    /*float: none;*/
    /*margin: 0 auto;*/
    /*width: 144px;*/
    /*height: 144px;*/
    /*-webkit-border-radius: 50% !important;*/
    /*-moz-border-radius: 50% !important;*/
    /*border-radius: 50% !important;*/
/*}*/

.profile-usertitle {
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
    font-family: Calibri;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

.profile-usermenu {
    border: 1px solid #c5c5c5;
    margin-top: 30px;
    background-color: #e5f1ff;
}
.profile-usermenu ul li .active {
    border: none;
    margin-right: -1px;
    border-radius: 0;
}
.profile-usermenu ul li {
    border-bottom: 1px solid #959595;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #0d6df2;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

/* Profile Content */
.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
}

#send_another_file {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    font-size: small;
    cursor: pointer;
}

a #send_another_file {
    color: #3c3c3c;
}

.user-profile-container {
    margin-top: 5px;
    padding: 15px;
}

.user-profile-info {
    font-size: 18px;
    font-family: Tahoma, Arial;
    color: #0d6df2;
}
.user-profile-info:hover {
    color: #65a0ff;
}
.user-profile-container a {
    text-decoration: none;
    color: white;
}