{% extends "site/modules/monitoring_nodes/monitoring_nodes_base.html" %}
{% load static %}
{% block title %}Посмотреть графики{% endblock %}

{% block static_charts %}
    <script src="{% static 'chart/Chart.min.js' %}"></script>
    <script src="{% static 'chart/canvasjs.min.js' %}"></script>
{% endblock %}

{% block static_local %}
    <script src="{% static 'modules/monitoring_nodes/graphs/graphs.js' %}"></script>
    <script src="{% static 'api/api.js' %}"></script>
    <script src="{% static 'modules/monitoring_nodes/graphs/show_graphs_form.js' %}"></script>
{% endblock %}

{% block breadcrump_active %}
    <li class="active">Графики</li>
{% endblock %}

{% block inner_content %}
    <div class="row">
        <form class="form-inline" role="form" method="POST">
            {% csrf_token %}
            {% for input in form %}
                <div class="form-group">
                    <label for="{{ i.id }}"
                           class="control-label">{{ input.label }}</label>
                    <div>
                        {{ input }}
                    </div>
                </div>
            {% endfor %}
            <div class="form-group">
                <button type="submit" class="btn btn-default">Показать график
                </button>
            </div>
        </form>
    </div>
{% endblock %}