{% extends "base/base.html" %}
{% block head %}
    <meta charset="UTF-8">
    {% load static %}
    {% block title %}
        <title>Login</title>
    {% endblock %}
    {% block load_static %}
        <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css" media="all"/>
    {% endblock %}
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="form-container">
            <div class="form-header">
                Авторизация
            </div>
            <div class="form-body">
                <form class="form-signin" action="" method="post">
                    {% csrf_token %}
                    <!--{{ form.as_p }}-->
                    {{ form.next }}
                    <div class="username">
                        <div class="username-input">
                            <input autofocus="autofocus" type="text" class="form-control" placeholder="Имя пользователя" name="username">
                        </div>
                        <div class="username-errors">
                            {% if form.username.errors %}
                            Это поле обязательно
                            {% endif %}
                        </div>
                    </div>
                    <div class="password">
                        <div class="password-input">
                            <input type="password" class="form-control" placeholder="Пароль" name="password">
                        </div>
                        <div class="password-errors">
                            {% if form.password.errors %}
                            Это поле обязательно
                            {% endif %}
                        </div>
                    </div>
                    <div class="button-submit">
                        <button type="submit">
                            <span>Войти</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

