<!DOCTYPE html lang="ru">
<html>
{% block head %}
    <head>
        <meta charset="utf-8">
        {% block title %}{% endblock %}
        {% block load_static %}
            {% load static %}
            <!-- Scripts -->
            {% block static_base %}
                <script src="{% static 'jquery/jquery-2.1.4.min.js' %}"></script>
                <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
                <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
                <link href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
                <link href="{% static 'bootstrap/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
                <link href="{% static 'css/dashboard.css' %}" rel="stylesheet" type="text/css" media="all"/>
            {% endblock %}
            {% block static_charts %}
                <script src="{% static 'chart/Chart.min.js' %}"></script>
                <script src="{% static 'chart/canvasjs.min.js' %}"></script>
            {% endblock %}

            {% block static_knockout %}
                <script src="{% static 'knockout/knockout-3.4.0.js' %}"></script>
            {% endblock %}

            {% block static_local %}
                <link href="{% static 'css/plugins.css' %}" rel="stylesheet" type="text/css" media="all"/>
                <link href="{% static 'css/nodes.css' %}" rel="stylesheet" type="text/css" media="all"/>
                <script src="{% static 'js/dashboard.js' %}"></script>
            {% endblock %}
        {% endblock %}
    </head>
{% endblock %}

{% block body %}
    <body>
    <div class="header">
        {% block header %}
            {% include 'base/header.html' %}
        {% endblock %}
    </div>
    <div class="container-fluid" style="margin-top: 51px;">
        <div class="row margin-row">
            <div class="col-lg-2 col-md-2 sidebar">
                {% block sidebar %}
                    {% include 'base/sidebar.html' %}
                {% endblock %}
            </div>
            <div class="col-lg-10 col-md-10 col-md-offset-2 col-lg-offset-2"
                 style="padding-left: 25px">
                {% block breadcrump %}
                    <br>
                    <ol class="breadcrumb">
                        {% block breadcrump_main %}
                            <li><a href="/">Система мониторинга</a></li>
                        {% endblock %}
                        {% block breadcrump_inactive %}{% endblock %}
                        {% block breadcrump_active %}{% endblock %}
                    </ol>
                {% endblock %}
                {% block content %}
                    {% block content_inner %}
                    {% endblock %}
                    {% block footer %}
                        <div class="row row-margin">
                            {% include 'base/footer.html' %}
                        </div>
                    {% endblock %}
                {% endblock %}
            </div>
        </div>
    </div>
    </body>
{% endblock %}
</html>