        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper"
             role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand"><a href="/">Система мониторинга</a>
                </li>
                <li class="divider">Общее</li>
                <li><a href="#"><i class="fa fa-fw fa-list"></i> Информация о мониторинге </a></li>
                <li><a href="#"><i class="fa fa-fw fa-question"></i> FAQ </a></li>
                <li class="divider">Модули</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Мониторинг узлов
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-background" role="menu">
                        <li class="divider"></li>
                        <li><a href="#">Общая информация</a></li>
                        <li><a href="#">Группы</a></li>
                        <li><a href="#">Плагины</a></li>
                        <li><a href="#">Графики</a></li>
                        <li><a href="#">Настройки</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown">
                        Мониторинг пользователей <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="divider"></li>
                        <li><a href="#">Общая информация</a></li>
                        <li><a href="#">Графики</a></li>
                        <li><a href="#">Настройки</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Мониторинг инженерных параметров
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-fw fa-info"></i> Общая информация</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-area-chart"></i> Графики</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-gear"></i> Настройки</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-list"></i> Отчёты</a></li>
                    </ul>
                </li>
                <li class="divider">Администрирование</li>
                <li><a href="#"><i class="fa fa-fw fa-user"></i> Личный
                    кабинет</a></li>
                <li><a href="#"><i class="fa fa-fw fa-gear"></i>
                    Настройки</a>
                </li>
            </ul>
        </nav>


{##}
{##}
{#<ul class="nav nav-sidebar">#}
{#    <li class="active"><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a>#}
{#    </li>#}
{#    <li><a href="{% url 'monitoring_nodes:plugins:index' %}"><i#}
{#            class="fa fa-folder"></i> Плагины</a></li>#}
{#    <li><a href="{% url 'monitoring_nodes:nodes:index' %}"><i#}
{#            class="fa fa-cube"></i> Узлы</a></li>#}
{#    <li><a href="{% url 'monitoring_nodes:groups:index' %}"><i#}
{#            class="fa fa-cubes"></i> Группы узлов<br></a></li>#}
{#    <li><a href="{% url 'monitoring_nodes:graphs:index' %}"><i#}
{#            class="fa fa-area-chart"></i> Графики</a></li>#}
{#    <li><a href="{% url 'monitoring_nodes:index' %}"><i class="fa fa-eye"> </i>#}
{#        Мониторинг узлов<br></a></li>#}
{#    <li><a href="/api"><i class="fa fa-exchange"></i> API</a></li>#}
{#    <li class="dropdown">#}
{#        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b#}
{#                class="caret"></b></a>#}
{#        <ul class="dropdown-menu">#}
{#            <li><a href="#">Action</a></li>#}
{#            <li><a href="#">Another action</a></li>#}
{#            <li><a href="#">Something else here</a></li>#}
{#            <li class="divider"></li>#}
{#            <li class="dropdown-header">Nav header</li>#}
{#            <li><a href="#">Separated link</a></li>#}
{#            <li><a href="#">One more separated link</a></li>#}
{#        </ul>#}
{#    </li>#}
{#</ul>#}