{% extends 'site/widjets/base_widjet.html' %}

{% block widjet_column_size %}
    <div class="col-lg-6">{% endblock %}
{% block widjet_name %}monitoring-state{% endblock %}
{% block widjet_header_inner %}
    <i class="fa fa-check"></i> Информация о состоянии мониторинга
{% endblock %}
{% block widjet_body_inner %}
    <div class="widjet-list">
        {% for item in monitoring_states %}
            <div class="widjet-item">
                <div class="widjet-item-label">
                    <i title="{{ item.label }}" class="fa {{ item.fa_icon }}"></i> {{ item.name }}
                </div>
                <div class="widjet-item-value
                    {% if item.value == 'Normal' %}
                        alert-success
                    {% elif item.value == 'Warning' %}
                       alert-warning
                    {% elif item.value == 'Danger' %}
                       alert-danger
                    {% endif %}
                    "> <a href="{{ item.url }}">{{ item.value }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block widjet_footer_inner %}

{% endblock %}