.widjet {
    border-radius: 10%;
    margin-bottom: 10px;
    background-color: whitesmoke;
    margin-right: -15px;
}
.widjet-header {
    border-top: 1px solid #9aa0a5;
    border-left: 1px solid #9aa0a5;
    border-right: 1px solid #9aa0a5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #e5e5e5;
    color: #0d0d0d;
    border-bottom: 1px solid #c5c5c5;
}
.widjet-header-inner{
    padding: 5px;
}
.widjet-body {
    background-color: whitesmoke;
    border-left: 1px solid #9aa0a5;
    border-right: 1px solid #9aa0a5;
    border-bottom: 1px solid #9aa0a5;
}
.widjet-body-inner{
    padding: 5px;
}
.widjet-footer{
    display: none;
    background-color: #e5e5e5;
    border-top: 1px solid #c5c5c5;
}
.widjet-footer-inner {
    padding: 5px;
}
.header {
    font-weight: 700;
    font-family: "Courier New", Courier, monospace;
    color: #0d0d0d;
}