{% extends "base/base.html" %}
{% block title %}
    <title>Графики</title>
{% endblock %}
{% block load_static %}
    {{ block.super }}
    {% load static %}
    <script src="{% static 'js/graphs.js' %}"></script>
{% endblock %}

{% block breadcrump_active %}
    <li class="active">Графики</li>
{% endblock %}

{% block content_inner %}
    {% for graph in graphs_info %}
        <div class="row" style="top:51px;">
            <div class="graph_info" style="margin-left: 10%">
                Узел: {{ graph.node_name }}<br>
                Плагин: {{ graph.plugin_name }}<br>
                Параметр: {{ graph.param_name }}<br>
            </div>
            <div id="{{ graph.id }}"
                 style="height: 300px; width: 80%; margin-left: 10%"
                 class="graphs"
                 plugin-name="{{ graph.plugin_name }}"
                 node-name="{{ graph.node_name }}"
                 param-name="{{ graph.param_name }}">
            </div>
        </div>
        <hr>
    {% endfor %}
{% endblock %}