.header-logo {
    font-size: 28px;
    color: darkorange;
    text-align: center;
    vertical-align: middle;
    font-style: normal;
    font-weight: 900;
}

a {
    color: orange;
}
.navmenu {
    width: 100%;
}
.monitoring_state_ok {
    color: green;
}
.monitoring_state_warning {
    color: orange;
}
.monitoring_state_critical {
    color: red;
}

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #333;
    border-right: 5px groove darkorange;

}


.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li {
border-bottom: 1px solid #444;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > li > a:hover {
border-left: 3px solid red;
background-color: #444;
color: #fff;
}
.nav-sidebar > .active > a {
font: bold;
}

.navbar-inverse .navbar-nav > li > a {
color: darkorange;
}

.panel-dashboard {
    border: 1px solid black;
}
.panel-dashboard .panel-heading {
    background-color: darkorange;
    border-bottom: 1px solid black;
}

.panel-dashboard .panel-footer {
    border-top: 1px solid black;
    background-color: #0f0f0f;
}
.panel-dashboard .panel-body > div > a {
    color: #0f0f0f;
}