{% extends "site/modules/monitoring_nodes/monitoring_nodes_base.html" %}

{% block title %}Группы серверов{% endblock %}

{% block breadcrump_active %}
    <li class="active">Группы серверов</li>
{% endblock %}

{% block inner_content %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-condensed table-hover">
                <thead>
                <tr class="active">
                    <td><strong>Группа серверов</strong></td>
                    <td><strong>Узел</strong></td>
                </tr>
                </thead>
                <tbody>
                {% for group in groups %}
                    {% for node in group.enabled_nodes %}
                        <tr class="success">
                            <td>{{ group.name }}</td>
                            <td>{{ node }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}