{% extends "site/base/base.html" %}

{% block static_local %}
    {% load static %}
{% endblock %}
{% block title %}Мониторинг узлов{% endblock %}

{% block breadcrump_inactive %}
    <li><a href="">Модули</a></li>
{% endblock %}
{% block breadcrump_active %}
    <li class="active">Мониторинг узлов</li>
{% endblock %}

{% block inner_content %}
    <div class="row">
        <div class="col-lg-6">
            <a class="btn btn-primary btn-block" href="{% url 'modules:monitoring_nodes:info' %}">Общая информация</a>
            <a class="btn btn-primary btn-block" href="{% url 'modules:monitoring_nodes:groups:index' %}">Информация о группах</a>
            <a class="btn btn-primary btn-block" href="{% url 'modules:monitoring_nodes:nodes:index' %}">Информация об узлах</a>
            <a class="btn btn-primary btn-block" href="{% url 'modules:monitoring_nodes:plugins:index' %}">Информация о плагинах</a>
        </div>
        <div class="col-lg-6"></div>
    </div>
{% endblock %}