{% extends "site/base/base_blank.html" %}
{% block title %}Авторизация{% endblock %}
{% block load_static %}
    {% load static %}
    {{ block.super }}
    <link href="{% static 'index/login.css' %}" rel="stylesheet" type="text/css"
          media="all"/>
{% endblock %}

{% block inner_content %}
    <div class="wrapper">
        <div class="form-container">
            <div class="form-body">
                <form class="form-signin" action="" method="post">
                    {% csrf_token %}
                    {{ form.next }}
                    <h2 class="form-signin-heading">Авторизация</h2>
                    <input autofocus="autofocus" type="text"
                           class="form-control" required=""
                           placeholder="Имя пользователя" name="username">
                    <input class="form-control" placeholder="Пароль"
                           name="password" type="password">
                    <label class="checkbox">
                        <input value="remember-me" type="checkbox"> Запомнить
                    </label>
                    <button class="btn btn-lg btn-primary btn-block"
                            type="submit">Войти
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}