#widjet-plugins .widjet-list {
}

#widjet-plugins .widjet-item {
    width: 100%;
    border-bottom: 1px solid #c5c5c5;
}

#widjet-plugins .widjet-item-label {
    width: 33%;
    height: 40px;
    border-right: 1px solid #aaaaaa;
    padding: 3px 0px 0px 3px;
    float: left;
    font-size: 14px;
}

#widjet-plugins .widjet-item-value {
    width: 67%;
    height: 40px;
    margin-left: 33%;
    padding: 3px 3px 0px 5px;
    font-size: 12px;
    line-height: 20px;
}

#widjet-plugins .widjet-item-value a {
    text-decoration-line: none;
}
#widjet-plugins .widjet-item:last-child {
    border-bottom: 1px solid #d5d5d5;
}