{% load static %}
<!DOCTYPE html lang="ru">
<html>
{% block head %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        {% block load_static %}
            <!-- Scripts -->
            {% block static_base %}
                <script src="{% static 'jquery/jquery-2.1.4.min.js' %}"></script>
                <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
                <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
                <link href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
                <link href="{% static 'bootstrap/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
                <link href="http://designmodo.github.io/Flat-UI/dist/css/flat-ui.min.css" rel="stylesheet">
                <link href="https://daneden.github.io/animate.css/animate.min.css" rel="stylesheet">
                <link rel="stylesheet" href="{% static 'index/dashboard.css' %}"/>
                <script src="{% static 'index/dashboard.js' %}"></script>
            {% endblock %}
            {% block static_charts %}{% endblock %}

            {% block static_knockout %}
                <script src="{% static 'knockout/knockout-3.4.0.js' %}"></script>
            {% endblock %}
            {% block static_local %}{% endblock %}
        {% endblock %}
    </head>
{% endblock %}

{% block body %}
    <body>
    <div id="wrapper">
        {% include 'site/base/sidebar.html' %}
        <div id="page-content-wrapper">
            <button type="button"
                    class="hamburger is-closed animated fadeInLeft"
                    data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
            <div class="container content">
                {% block content %}
                    <div class="row dashboard-title">
                        Система мониторинга комплекса высокопроизводительных вычислений
                    <hr>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 monitoring-content">
                            <div class="row">
                                {% block breadcrump %}
                                    <br>
                                    <ol class="breadcrumb">
                                        {% block breadcrump_main %}
                                            <li><a href="/">Система мониторинга</a></li>
                                        {% endblock %}
                                        {% block breadcrump_inactive %}{% endblock %}
                                        {% block breadcrump_active %}{% endblock %}
                                    </ol>
                                {% endblock %}
                            </div>
                            {% block submenu %}{% endblock %}
                            {% block inner_content %}{% endblock %}
                            {% block footer %}
                                {% include 'site/base/footer.html' %}
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    </body>
{% endblock %}
</html>