{% load static %}
<!-- Scripts -->
{% block static_base %}
    <script src="{% static 'jquery/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'datetimepicker/jquery.datetimepicker.full.min.js' %}"></script>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"
          type="text/css" media="all"/>
    <link href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}"
          rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'bootstrap/css/font-awesome.min.css' %}"
          rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static 'datetimepicker/jquery.datetimepicker.min.css' %}">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}

{% block static_charts %}{% endblock %}
{% block static_knockout %}{% endblock %}
{% block static_webix %}{% endblock %}

{% block static_local %}
    <link href="{% static 'css/plugins.css' %}" rel="stylesheet" type="text/css"
          media="all"/>
    <link href="{% static 'css/nodes.css' %}" rel="stylesheet" type="text/css"
          media="all"/>
    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}