{% extends "base/base.html" %}
{% block head %}
    <meta charset="utf-8">
    {% block title %}
    <title>Dashboard</title>
    {% endblock %}
    {% block load_static %}
        {% include "base/statics.html" %}
    {% endblock %}
{% endblock %}

{% block body %}
<div class="header">
    {% block header %}
    {% include "base/header.html" %}
    {% endblock %}
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-2 sidebar">
            {% block sidebar %}
            {% include "base/sidebar.html" %}
            {% endblock %}
        </div>
        <div class="col-lg-10 col-md-10 col-md-offset-2 col-lg-offset-2"
             style="top: 51px;">
            {% block content %}
            <h3>Общая информация по серверу</h3>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-check-square-o fa-2x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Сервер мониторинга</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            OS: Lunix <br>
                            CPU: Intelь iCore7 <br>
                            CPU_cores: 42 <br>
                            RAM: 2048 Mb <br>
                            DB: PostgreSQL-9.3 <br>
                        </div>
                    </div>
                </div>
                <h3>Общая информация по системе мониторинга</h3>
                <hr>
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-check-square-o fa-2x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Состояние системы</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div>
                                Физический мониторинг:
                                <span class="monitoring_state_ok">
                                 <i class="fa fa-check-circle"></i>
                                </span>
                            </div>
                            <div>
                                Мониторинг серверов:
                                <span class="monitoring_state_warning">
                                    <i class="fa fa-warning"></i>
                                </span>
                            </div>
                            <div>
                                Мониторинг пользователей:
                                <span class="monitoring_state_critical">
                                    <i class="fa fa-close"></i>
                                </span>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i
                                        class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-folder fa-2x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Плагины</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div>cpu_load</div>
                            <div>ram_usage</div>
                            <div>hgg_usage</div>
                            <div>something else</div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i
                                        class="fa fa-arrow-circle-right"></i></span>

                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-laptop fa-2x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Узлы</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div><a href="#">node 1</a></div>
                            <div><a href="#">node 2</a></div>
                            <div><a href="#">node 3</a></div>
                            <div><a href="#">node 4</a></div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i
                                        class="fa fa-arrow-circle-right"></i></span>

                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div id="graphics">
                <h3>Графики</h3>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-area-chart fa-2x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div>Basic Line Chart</div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div id="basic_line_chart"
                                     style="height: 300px; width: 100%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-area-chart fa-2x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div>Имя графика</div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                            <span>
                                график график <br>
                                график график <br>
                                график график <br>
                                график график <br>
                                график график <br>
                                график график <br>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>
</div>


{% block footer %}
{% endblock %}
{% endblock %}